<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Enciclopedia Anatómica Pro</title>
    <link rel="stylesheet" href="sis.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/logo.png" type="image/png">
</head>
<body>

    <header>
        <h1>Hombre de Vitruvio</h1>
        <p>Desliza para explorar • Toca para acceder a los diagramas</p>
    </header>

    <div class="slider-wrapper">
        <button class="nav-btn prev" id="prevBtn" aria-label="Anterior">&#10094;</button>
        
        <main id="app-container" class="slider-container">
            </main>

        <button class="nav-btn next" id="nextBtn" aria-label="Siguiente">&#10095;</button>
    </div>

    <script src="sis.js"></script>
</body>
</html>